In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time

import data and remove NaNs for features:

In [ ]:
df = pd.read_csv('index.csv')
df.insert(0, "Date", pd.to_datetime(df[["Year", "Month", "Day"]]))      # create datetime column
df.set_index(["Date"], inplace=True)                                    # set index to date, easy to handle 
df.drop(columns=["Year", "Month", "Day"], inplace=True)                 # deop redundant columns

In [ ]:
df.drop(columns=["Federal Funds Target Rate", "Federal Funds Upper Target", "Federal Funds Lower Target"], inplace=True)        # these columns will not be used

In [ ]:
# determine date when inflation rate begins to ve recorded 
for i,j in enumerate(df["Inflation Rate"]):
    if not np.isnan(j):
        print(df.iloc[i])
        break

Federal Funds Target Rate         NaN
Federal Funds Upper Target        NaN
Federal Funds Lower Target        NaN
Effective Federal Funds Rate     2.72
Real GDP (Percent Change)      -10.00
Unemployment Rate                5.80
Inflation Rate                   3.20
Name: 1958-01-01 00:00:00, dtype: float64

In [ ]:
df.drop(df.loc["1954-07-01":"1958-01-01"].index, inplace=True)      # drop the rows with no inflation rate

In [45]:
df.drop(df.loc["2016-11-01":].index, inplace=True) # drop as there is no target for these dates

In [46]:
df.tail(10)

,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
Date,,,,
2016-01-01,0.34,0.8,4.9,2.2
2016-02-01,0.38,NaN,4.9,2.3
2016-03-01,0.36,NaN,5.0,2.2
2016-04-01,0.37,1.4,5.0,2.1
2016-05-01,0.37,NaN,4.7,2.2
2016-06-01,0.38,NaN,4.9,2.2
2016-07-01,0.39,3.5,4.9,2.2
2016-08-01,0.40,NaN,4.9,2.3
2016-09-01,0.40,NaN,4.9,2.2
2016-10-01,0.40,1.9,4.8,2.1

In [ ]:
# remove mid-month entries as these were wgen target rates were chanmged, theses only contain NaNs for our feqture vaeriables 
idx_mm = [i for i,j in enumerate(df.index.day) if j != 1]
df.drop(df.iloc[idx_mm].index, inplace=True)

In [ ]:
df[["Unemployment Rate", "Effective Federal Funds Rate", "Inflation Rate"]].isna().sum()        # check if all are removed

Unemployment Rate               0
Effective Federal Funds Rate    0
Inflation Rate                  0
dtype: int64

Feature engineering - Create Lags: